<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="10">
</head> 
    <title>Document</title>
	<style>
table {
    border-collapse: collapse;
    width: 55%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

	<table border="1">
	  <tr>
    <th>#</th>
    <th>Source</th>
    <th>SourceID</th>
    <th>Username</th>
    <th>Action</th>
    <th>State</th>
  </tr>
    {{ range . }}
				<tr> 	
					  <td>{{ .Number }}</td>	
            <td>{{ .Source }}</td>
            <td>{{ .SourceID }}</td>
					  <td>{{ .User }}</td>
					  <td>{{ .Action }}</td> 
					  
                      <td>
                      {{ if (eq .State  "active") }}
                        <font color="navy"> {{ .State }}
                      {{ else if (eq .State "error") }}
                        <font color="red"> {{ .State }}
                      {{ else }}
                        <font color="teal">{{ .State }}
                      {{ end }}
                      </font>
                      </td>
				
				</tr>
    {{ end }}	
	</table>

</body>
</html>